@import url("https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@300;400;700&display=swap");

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

button,
input {
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
